<div class="footer" style="background-color: orange;" id="footer" >
  <div style="margin: auto;max-width: 1200px;">
    <!-- <h1 style="text-align: center;padding-top:50px;color:#212121;">LOGO</h1> -->
    <div style="max-width: 250px;max-height: 150px; margin: auto;">
      <img src="assets/logo/logo.png" style="width: 100%;">
    </div>
    <br>
    <hr>
    <div class="footer-items">
        <div>
          <h2>Contact Us:</h2>
          <p>Email: info@leadcypher.com</p>
          <p>Phone: +1 (123) 456-7890</p>
          <p>Address: 123 Main Street, City, State, ZIP</p>
        </div>
        <div>
          <h2>Company</h2>
          <p>Home</p>
          <p>What we do ?</p>
          <p>How we do it</p>
          <p>Who we are</p>
        </div>
        <div style="display: flex;flex-direction: column;">
          <h2>Socials</h2>
          <div style="display: flex;justify-content: space-between;">
          <a href="">A</a>
          <a href="">B</a>
          <a href="">C</a>
          <a href=" ">D</a>
          </div>
          

          <!-- <a href="">Instagram</a>
          <a href="">Whatsapp</a>
          <a href="">YouTube</a>
          <a href=" ">Linkedin</a> -->
        </div>
       
        <div>
          <!-- <h2 style="text-align: center;padding-top:50px;color:#212121;">content</h2> -->
          <div style="max-width: 250px;max-height: 150px;">
            <img src="assets/logo/logo.png" style="width: 100%;">
          </div>

        </div>
    </div>
    <hr>
    <p style="color:black;padding-bottom: 10px;text-align: center;">  Copyright &copy; leadcypher. All rights reserved.</p>
  </div>
</div>
