.main-container{
        /* background-image: url("/src/assets/background.1.jpg"); */
        background-size: cover;
        /* height: 100vh; */
        /* padding:40px; */
        /* background-image:  url('src/assets/background/6.jpg'); */
        /* background-image:  url('https://i.gifer.com/7wkh.gif'); */
        /* background-image: linear-gradient(to bottom, rgba(6, 57, 58, 0.897) 100%,
                                rgba(6, 57, 58, 0.89)),
                        url('src/assets/background/1.jpg');
        background-size: cover;
        background-position: center; */
               
        /* background-attachment: fixed; */
        /* opacity: 0.9; */
}
.homepage{
        /* background-image:  url('src/assets/background/6.jpg'); */
        /* background-image:  url('src/assets/background/bg2.jpeg'); */
        /* background-image: linear-gradient(to bottom, rgba(6, 57, 58, 0.932) 100%,
                rgba(8, 48, 59, 0.918)), 
        url('src/assets/background/3.jpg'); */

        /* background-size: cover; */

}
.container{
        padding-left: 50px;
        padding-top: 150px;
}
.container h1{
        color: orange;
        font-size: 60px;
        padding-top: 5%;
}
.tagline p {
        color: #CCC;
        font-size: 16px;
        padding-top: 100px;
        padding:50px;
        font-family: "Work Sans",sans-serif;

}
.button{
        padding-left: 50px;
}
p{
        font-family: "Work Sans",sans-serif;
        font-size: 15px;
        color: #ccc;

}

.buttons{
        padding: 20px;
        border-radius: 20px;
        margin: 10px;
        /* background: linear-gradient(180deg,
                                rgb(2, 32, 32) 100%,
                                rgba(141, 141, 141, 0.00) 100%); */
}

.button button{
        font-size: 17px;
        color: #eee;

}
.arrow-button {
        display: flex;
        border: none;
        color: #eee;
        background-color: #ffa500a1;
        padding-left: 20px;
        border-radius: 25px;
        transition: all .3s ease;
        align-items: center;
        width: 160px;
        height: 45px;
        font-size: 18px;
        /* margin: auto; */
}

.arrow-button > .arrow {
        width: 10px;
        height: 10px;
        border-right: 2px solid #fff;
        border-bottom: 2px solid #fff;
        transform: rotate(-45deg);
        margin-left:15px ;
        transition: all .3s ease;
}
.arrow-button > .arrow::before {
        display: block;
        background-color: currentColor;
        width: 3px;
        transform-origin: bottom right;
        height: 3px;
        position: absolute;
        opacity: 0;
        bottom: calc(-2px / 2);
        transform: rotate(45deg);
        transition: all .3s ease;
        content: "";
        right: 0;
}
.arrow-button:hover > .arrow {
        transform: rotate(-45deg) translate(10px, 10px);
        border-color: text-hover-color;
}
.arrow-button:hover > .arrow::before {
        opacity: 1;
        width: 30px;
}
.arrow-button:hover {
        background-color: rgb(216, 142, 3);
        color: #fff;
}
iframe{
        border: 2px solid orange;
        border-radius: 15px;
}

.service-item{
        margin: auto;
        margin-top: 4%;
}
.buttons{
        padding: 20px;
} 
.service{
        padding:20px;
        
}
.services{
        /* background-image:  url('src/assets/background/9.jpg'); */
        /* background-image:  url('src/assets/background/bg1.jpeg'); */
        /* background-image: linear-gradient( rgba(20, 20, 20, 1), rgba(18,42, 66, 1)), 
        url('src/assets/background/bg1.jpeg'); */
        /* background-color:rgb(26, 26, 26) ; */
        background-image: linear-gradient(45deg,
                                rgba(6, 57, 58, 0.932) 100%,
                                rgba(8, 48, 59, 0.918)),
                        url('/assets/background/22.jpg');
                background-size: cover;
                background-position: center;


        /* background-attachment: fixed; */


}
                                .temp {
                                        height: 70px;





                                }

div.slide-left {
        width: 100%;
        overflow: hidden;
}

.slide-left {
        animation: slide-left 5s;
}

@keyframes slide-left {
        from {
                margin-left: 100%;
                width: 200%;
        }

        to {
                margin-left: 0%;
                width: 100%;
        }
}

.buttons:hover {
        transform: scale(1.03);
}
.service-item:hover {
        transform: scale(1.03);
}

@media screen and (max-width: 678px) {
        .portfolio-column {
                flex-direction: column;
        }
        .service{
                flex-direction: column;
        }
        p{
                font-size: 18px;
        }
        .container h1{
                font-size: 55px;
                padding-top: 100px;
        }
        .tagline p {
                /* font-size: 21px; */
                padding:30px;
        }
        /* .arrow-button {
                width: 250px; 
                height: 50px;
                font-size: 17PX; 
                 padding-left: 15px;
        } */
        .container{
                padding:30px
        }
        .button{
                padding-left: 30px;
        }
                                                .temp {
                                                        height: 0px;
                                                }
}
