.main-container{
        /* background-image: url("/src/assets/background.1.jpg"); */
        background-size: cover;
        /* height: 100vh; */
        /* padding:40px; */
        /* background-image:  url('src/assets/background/6.jpg'); */
        /* background-image:  url('https://i.gifer.com/7wkh.gif'); */
        
        /* background-attachment: fixed; */
        /* opacity: 0.9; */
}
.homepage{
        /* background-image:  url('src/assets/background/6.jpg'); */
        /* background-image:  url('src/assets/background/bg2.jpeg'); */
        background-image: linear-gradient(to bottom, rgba(32, 80, 88, 0.85), rgba(18,42, 66, .85)), 
        url('src/assets/background/bg2.jpeg');

        background-size: cover;

}
.container{
        padding-left: 50px;
        padding-top: 150px;
}
.container h1{
        color: orange;
        font-size: 60px;
        padding-top: 5%;
}
.tagline p {
        color: #CCC;
        font-size: 16px;
        padding-top: 100px;
        padding:50px;
        font-family: "Work Sans",sans-serif;

}
.button{
        padding-left: 50px;
}
p{
        font-family: "Work Sans",sans-serif;
        font-size: 15px;
        color: #ccc;

}
.buttons{
        padding: 20px;
}

.button button{
        font-size: 17px;
        color: #eee;

}
.arrow-button {
        display: flex;
        border: none;
        color: #fff;
        background-color: orange;
        padding-left: 20px;
        border-radius: 5px;
        transition: all .3s ease;
        align-items: center;
        width: 180px;
        height: 60px;
        font-size: 18px;
        /* margin: auto; */
}

.arrow-button > .arrow {
        width: 10px;
        height: 10px;
        border-right: 2px solid #fff;
        border-bottom: 2px solid #fff;
        transform: rotate(-45deg);
        margin-left:15px ;
        transition: all .3s ease;
}
.arrow-button > .arrow::before {
        display: block;
        background-color: currentColor;
        width: 3px;
        transform-origin: bottom right;
        height: 3px;
        position: absolute;
        opacity: 0;
        bottom: calc(-2px / 2);
        transform: rotate(45deg);
        transition: all .3s ease;
        content: "";
        right: 0;
}
.arrow-button:hover > .arrow {
        transform: rotate(-45deg) translate(10px, 10px);
        border-color: text-hover-color;
}
.arrow-button:hover > .arrow::before {
        opacity: 1;
        width: 30px;
}
.arrow-button:hover {
        background-color: rgb(216, 142, 3);
        color: #fff;
}
iframe{
        border: 2px solid orange;
        border-radius: 15px;
}

.service-item{
        margin: auto;
        margin-top: 4%;
}
.buttons{
        padding: 20px;
} 
.service{
        padding:20px;
        
}
.services{
        /* background-image:  url('src/assets/background/9.jpg'); */
        /* background-image:  url('src/assets/background/bg1.jpeg'); */
        background-image: linear-gradient(to bottom, rgba(32, 80, 88, 0.85), rgba(18,42, 66, .85)), 
        url('src/assets/background/bg1.jpeg');


        background-size: cover;
        /* background-attachment: fixed; */


}
@media screen and (max-width: 678px) {
        .portfolio-column {
                flex-direction: column;
        }
        .service{
                flex-direction: column;
        }
        p{
                font-size: 18px;
        }
        .container h1{
                font-size: 55px;
                padding-top: 100px;
        }
        .tagline p {
                /* font-size: 21px; */
                padding:30px;
        }
        /* .arrow-button {
                width: 250px; 
                height: 50px;
                font-size: 17PX; 
                 padding-left: 15px;
        } */
        .container{
                padding:30px
        }
        .button{
                padding-left: 30px;
        }
}
