<div class="main-container">
  <div style=" height: 90px; border: 1px solid orange;width: 100%;">
      <h1 style="text-align: center;padding-top: 15px;color:orange">NavBar</h1>
  </div>
  <!-- ************************************************************************************************************ -->
  <div style="min-height: 70vh;">
    <div class="container">
      <h1>Lorem ipsum dolor sit amet, consectetuer.</h1>
    </div>
    <div class="tagline" style="max-width: 800px;">
      <p>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</p>
  
    </div>
    <div class="button">
      <button class="arrow-button">Lorem ipsum<span class="arrow"></span>
      </button>
    </div>
  </div>
  <!-- ************************************************************************************************************ -->

  <div style="background-color: rgb(48, 46, 46);padding-top: 2%;">
        <h1 style="text-align: center;color: orange;font-size: 50px;">Lorem ipsum</h1>
        <div style="max-width: 600px;margin: auto;">
          <div style="padding: 20px;">
            <iframe width="100%" height="350px"  src="https://www.youtube.com/embed/tgbNymZ7vqY">

            </iframe>
          </div>
        </div>
        <div class="button" style="padding-top: 30px;padding-bottom: 40px;">
          <button class="arrow-button" style="margin: auto;">Lorem ipsum<span class="arrow"></span>
          </button>
        </div>
  </div>
  <!-- ************************************************************************************************************ -->
  
  <!-- <hr style="border: 2px solid orange;"> -->
  <div class="services" style=" padding-top: 5%;padding-bottom: 5%;">
    <h1 style="text-align: center;color: orange;font-size: 60px;">Lorem ipsum</h1>
    <div  class="service" style=" padding-top: 5%; display: flex; justify-content: space-between;max-width: auto;">
        <div class="service-item" style="border: 5px solid orange; max-width: 350px;width: 100%; border-radius: 30px;">
          <div style="height: 120px;">

          </div>
          <div style="background-color: black;border: 1px solid black;">
            <p style="color: orange;text-align: center;padding: 10px;">Lorem ipsum</p>
          </div>
          <div style="height: 120px;">

          </div>
        </div>
        <div class="service-item" style="border: 5px solid orange; max-width: 350px;width: 100%; border-radius: 30px;">
          <div style="height: 120px;">

          </div>
          <div style="background-color: black;border: 1px solid black;">
            <p style="color: orange;text-align: center;padding: 10px;">Lorem ipsum</p>
          </div>
          <div style="height: 120px;">

          </div>
        </div>
        <div class="service-item" style="border: 5px solid orange; max-width: 350px;width: 100%; border-radius: 30px;">
          <div style="height: 120px;">

          </div>
          <div style="background-color: black;border: 1px solid black;">
            <p style="color: orange;text-align: center;padding: 10px;">Lorem ipsum</p>
          </div>
          <div style="height: 120px;">
              <!-- <p style="padding: 10px; color: #fff; font-size:small;text-align: center;align-items:baseline;margin-top: auto;">Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in,</p> -->
          </div>
        </div>
        <div class="service-item" style="border: 5px solid orange; max-width: 350px;width: 100%; border-radius: 30px;">
          <div style="height: 120px;">

          </div>
          <div style="background-color: black;border: 1px solid black;">
            <p style="color: orange;text-align: center;padding: 10px;">Lorem ipsum</p>
          </div>
          <div style="height: 120px;">

          </div>
        </div>
    </div>
  </div>
  <!-- ************************************************************************************************************ -->
  <div style="background-color:rgb(48, 46, 46);width:100%;">
    <div style=" max-width: 1200px; margin: auto;">
        <div class="myportfolio">
            <div class="portfolio-column" style="display: flex;justify-content: space-between;">
                <div class="buttons"  href="url">
                    <h4 style="color: orange; font-size:25px; font-weight: 800;text-align: left;padding-bottom: 20px;font-family: Work Sans,sans-serif;">Lorem ipsum</h4>
                    <div>
                        <p style="font-size:19px;padding-left:3% ;text-align: justify; border-left: 8px solid orange;color: #fff;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    </div>
                </div>
                <div class="buttons"  href="url">
                    <h4 style="color: orange; font-size:25px;font-weight: 800;text-align: left;padding-bottom: 20px;font-family: Work Sans,sans-serif;">Lorem ipsum</h4>
                    <div >
                        <p style="font-size:19px;padding-left:4% ;text-align: justify; border-left: 8px solid orange;color: #fff;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- ************************************************************************************************************ -->
  <div style="height: auto">
    <div class="contact">
      <div style="max-width: 700px;margin: auto;">
        <h1>Let's Talk</h1>
        <p>Thanks for taking the time to contact me. Please send me some information on your project so I can determine how best to help you.</p>
        <form action="https://formsubmit.co/" method="POST" style="padding-top: 40px;">
            <div>
              <div style="display: flex;justify-content: space-between;">
                <div class="input">
                  <label>Name *</label>
                  <input type="text" placeholder="Enter your name..." name="name"  required>
                </div>
                <div class="input" style="padding-left: 3%;">
                  <label>Email *</label>
                  <input type="text" placeholder="Enter your email..."name="email" required>
                </div>
              </div>
              <div class="textarea">
                  <label>Your Message</label>
                  <!-- <input  placeholder="Enter your name..."> -->
                  <textarea placeholder="Your Message" class="form-control" name="message" rows="10" required></textarea> 
              </div>
            </div>
            <div style="padding: 20px;">
              <button class="arrow-button" style="margin: auto;width: 200px;height: 55px;border-radius: 5px;" type="submit">Submit Form<span class="arrow"></span>
              </button>
            </div>
            
        </form>
      </div>
    </div>
  </div>
  <!-- ************************************************************************************************************ -->
  <div>
    <div style="background-color: rgb(48, 46, 46);width:100%">
      <div class="footer" style="background-color: rgb(48, 46, 46);width:100%;margin:auto;max-width: 800px;">
          <div style=" max-width: 100px;margin: auto;padding-top: 3%;">
              <!-- <img style="width:100px;height: 100px;text-align:center;" src="assets/logo/LM.png"> -->
              <h1 style="width:100px;height: 100px;text-align:center;font-weight: 800;font-family: Work Sans,sans-serif;color: orange;" >LOGO</h1>
          </div>
          <p style="color:#fff;text-align: center;padding: 10px;margin-top: -5%;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequa</p>
          <div class="social-links" style="display: flex;justify-content: space-around;color:#fff;max-width: 600px;margin: auto;padding-top: 20px;">
              <!-- <a><fa-icon [icon]="faSquareWhatsapp"></fa-icon></a>
              <a><fa-icon [icon]="faInstagram"></fa-icon></a>
              <a><fa-icon [icon]="faSquareTwitter"></fa-icon></a>
              <a><fa-icon [icon]="faSquareFacebook"></fa-icon></a> -->
              <a>A</a>
              <a>B</a>
              <a>C</a>
              <a>D</a>
          </div>
          <br>
          <div class="footer-nav">
              <a routerLink="">Home</a>
              <a routerLink="">About</a>
              <a routerLink="">Services</a>
          </div>
          <hr style="border:1px solid orange">
          <p style="color:#fff;padding-bottom: 20px;padding-top: 20px;text-align: center;">   &copy; Company 2023. Powered by Fadiman</p>
      </div>
    </div>
  </div>
</div>