h1{
        color: #2c2b2b;
        font-size: 30px;
        font-weight: 700;

}
.container1{
        width: 50%;
}
.container2{
        width: 50%;
}
.temp{
        height: 100px;
}

.youtube:hover{
        transform: scale(1.1);
}
@media (max-width: 768px) {
        .about{
                flex-direction: column;
        }
        /* .youtube{
                display: none;
        } */
        .container1{
                width: 100%;
        }
        .container2{
                width: 100%;
        }
                .temp {
                        height: 0px;
                }
}
