<div style="height: 500px;">

</div>
<div style="background-color: orange; font-family:Work Sans,sans-serif ; line-height: 1.5;">
  <div  class="about" style="display: flex;justify-content: space-between;max-width: 1200px;margin: auto;padding:30px">
    <div>
      <div style="max-width: 250px;max-height: 300px; margin: auto;">
        <img src="assets/logo/logo.png" style="width: 100%;">
      </div>
    </div>
    <div style="max-width: 600px;">
      <h2>WHO ARE WE ?</h2>
      <p style="padding-top: 30px;" >At LeadCypher, we are passionate about helping businesses unlock their full potential through effective
        lead generation and marketing strategies. With our extensive experience and expertise, we have helped
        numerous clients across various industries achieve remarkable results. Our team of skilled professionals
        combines creativity, data-driven insights, and the latest marketing techniques to deliver exceptional
        outcomes for our clients.</p>
    </div>
  </div>
</div>
