<!-- <div style="height: 500px;">

</div> -->

<div
  style="
    background-color: rgb(6, 57, 58);
    font-family: Work Sans, sans-serif;
    line-height: 1.5;
    padding: 50px;
    background-image: linear-gradient(
        45deg,
        rgba(6, 57, 58, 0.932) 100%,
        rgba(8, 48, 59, 0.918)
      ),
      url('assets/background/20.jpg');
    background-size: cover;
    background-position: center;
  "
  id="about"
>
  <div class="temp"></div>

  <div
    style="
      padding: 50px;

      max-width: 1200px;
      margin: auto;
      background-color: orange;
    "
  >
    <div
      class="about"
      style="
        display: flex;
        max-width: 1200px;
        margin: auto;
        padding-top: 100px;
        padding-bottom: 100px;
        padding: 30px;
      "
    >
      <div class="container1">
        <div class="youtube" style="max-width: 500px; margin: auto">
          <div>
            <iframe
              width="500px"
              style="width: 100%; border-radius: 20px; border: none"
              height="350px"
              src="https://www.youtube.com/embed/8RMxThLzM3w"
            >
            </iframe>
          </div>
        </div>
        <!-- <div style="max-width: 300px;min-height: 350px; margin: auto;padding-top: 100px;">
        <img src="assets/logo/logo.png" style="width: 100%;">
      </div> -->
      </div>
      <div class="container2">
        <h1>WHO ARE WE ?</h1>
        <p
          style="
            padding-top: 30px;
            max-width: 450px;
            line-height: 1.8;
            color: #383838;
          "
        >
          At LeadCypher, we are passionate about helping businesses unlock their
          full potential through effective lead generation and marketing
          strategies. With our extensive experience and expertise, we have
          helped numerous clients across various industries achieve remarkable
          results. Our team of skilled professionals combines creativity,
          data-driven insights, and the latest marketing techniques to deliver
          exceptional outcomes for our clients.
        </p>
      </div>
    </div>
  </div>
  <div class="temp"></div>
</div>
