<div style="height:100px;background-color: #0A4041;">
  <nav class="navbar" style="padding-left: 20px;padding-right: 20px;">
    <!-- LOGO -->
    <div class="logo">
        <!-- <h1 style="font-weight: 600;color: orange;;">Logo</h1> -->
        <!-- <img src="assets/LOGO/5.png"> -->
        <div style="max-width: 90px;max-height: 140px; margin: auto;padding-top: 10px;">
          <img src="assets/logo/logo.png" style="width: 100%;">
        </div>
    </div>
    <!-- NAVIGATION MENU -->
    <ul class="nav-links">
        <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="hamburger">&#9776;</label>
        <div class="menu">
            <li><a class="navlinks" routerLink="./">Home</a></li>
            <li><a class="navlinks" routerLink="./">What we do ?</a></li>
            <li><a class="navlinks" routerLink="./aboutus">How we do it ? </a></li>
            <li><a class="navlinks" routerLink="./contactus">Who we are ? </a></li>
        </div>
    </ul>
  </nav>
</div>
