<!-- <app-Navbar2></app-Navbar2> -->
<div class="homepage" style="min-height: 90vh">
  <div style="padding: 25px">
    <app-Navbar2></app-Navbar2>
  </div>
  <div style="max-width: 800px; margin: auto; padding: 20px">
    <p>
      At <b>LeadCypher </b>("we," "us," or "our"), we are committed to
      protecting your privacy and ensuring the security of your personal
      information. This Privacy Policy outlines how we collect, use, and
      disclose your personal data when you use our website or interact with our
      services. By accessing or using our website or services, you agree to the
      terms and conditions of this Privacy Policy.
    </p>
    <br />
    <p><b>Information We Collect</b></p>
    <p>
      We collect personal information from you when you provide it to us or when
      you use our services. The types of personal information we may collect
      include:
    </p>
    <br />
    <ol>
      <li>
        Contact Information: Name, email address, phone number, and any other
        information you provide when contacting us or subscribing to our
        newsletters.
      </li>
      <li>
        Account Information: Information you provide when creating an account
        with us, such as username, password, and profile information.
      </li>
      <li>
        Usage Data: Information about how you use our website, including your IP
        address, browser type, device information, pages visited, and the
        referring website.
      </li>

      <li>
        Cookies and Similar Technologies: We may use cookies and similar
        technologies to collect information about your browsing activities. You
        can manage your cookie preferences through your browser settings.
      </li>
    </ol>
    <br />

    <p><b>Use of Information</b></p>
    <p>We may use the collected information for the following purposes:</p>
    <br />

    <ol>
      <li>
        Provide and Improve Services: To deliver our services to you, respond to
        your inquiries, and improve the functionality and user experience of our
        website.
      </li>
      <li>
        Communication: To communicate with you, respond to your requests, send
        newsletters or promotional materials, and provide customer support.
      </li>
      <li>
        Analytics and Research: To analyze trends, track user activities, and
        gather statistical information to improve our services and tailor
        content to user preferences.
      </li>
      <li>
        Legal Compliance: To comply with applicable laws, regulations, and legal
        processes.
      </li>
    </ol>
    <br />

    <p><b>Information Sharing and Disclosure</b></p>
    <p>We may share your personal information with the following parties:</p>
    <br />

    <ol>
      <li>
        Service Providers: We may engage third-party service providers to
        perform certain functions on our behalf, such as hosting, data analysis,
        and customer support. These providers will have access to your personal
        information only to the extent necessary to perform their services and
        are obligated to maintain its confidentiality.
      </li>
      <li>
        Business Transfers: In the event of a merger, acquisition, or sale of
        all or a portion of our assets, your personal information may be
        transferred to the acquiring entity.
      </li>
      <li>
        Legal Requirements: We may disclose your personal information if
        required to do so by law or if we believe that such action is necessary
        to comply with legal obligations, protect our rights or the rights of
        others, or investigate fraud or security issues.
      </li>
    </ol>
    <br />
    <p><b>Data Security</b></p>
    <br />
    <p>
      We employ industry-standard security measures to protect your personal
      information from unauthorized access, disclosure, alteration, or
      destruction. However, no method of transmission over the internet or
      electronic storage is entirely secure, and we cannot guarantee absolute
      security.
    </p>
    <br />
    <p><b>Your Rights and Choices</b></p>
    <p>You have certain rights regarding your personal information. You may:</p>
    <br />
    <ol>
      <li>
        Access, Correct, or Update: Request access to the personal information
        we hold about you and update or correct any inaccuracies.
      </li>
      <li>
        Opt-out of Marketing Communications: You can opt-out of receiving
        marketing communications from us by following the instructions in the
        communication or contacting us directly.
      </li>
      <li>
        Cookies: You can manage your cookie preferences through your browser
        settings.
      </li>
    </ol>
    <br />
    <p><b>Children's Privacy</b></p>
    <br />
    <p>
      Our website and services are not intended for individuals under the age of
      16. We do not knowingly collect personal information from children. If we
      become aware that we have inadvertently collected personal information
      from a child, we will take steps to delete such information as soon as
      possible.
    </p>

    <br />
    <p><b>Third-Party Links</b></p>
    <br />
    <p>
      Our website may contain links to third-party websites. We are not
      responsible for the privacy practices or content of those websites. We
      encourage you to review the privacy policies of any third-party websites
      you visit.
    </p>
    <br />
    <p><b>Changes to this Privacy Policy</b></p>
    <br />
    <p>
      We may update this Privacy Policy from time to time to reflect changes in
      our practices or legal requirements. We will notify you of any material
      changes by posting the updated Privacy Policy on our website. We encourage
      you to review this Privacy Policy periodically for the latest information
      on our privacy practices.
    </p>
    <br />
    <p><b>Contact Us</b></p>
    <br />
    <p>
      If you have any questions, concerns, or requests regarding this Privacy
      Policy or our privacy practices, please contact us at:
    </p>
    <br />
    <p>LeadCypher</p>
    <p>Email: info@leacypher.com:</p>
  </div>
</div>
<!-- <app-footer></app-footer> -->
<p
  style="
    color: #ccc;
    padding: 10px;
    text-align: center;
    background-color: #0a4041;
    font-family: Work Sans, sans-serif;
  "
>
  Copyright &copy; leadcypher. All rights reserved.
</p>
