/* .contact{
        padding-top: 100px;
}
.contact h1{
        color:orange;
        text-align: center;
        font-weight: 800;
}
.contact p{
        color: orange;

        text-align: center;
        font-size: 15px;
        padding: 15px;
        margin-bottom: 40px;
        font-family: "Work Sans",sans-serif;
}
input{
        height: 40px;
        padding-left: 15px;
        border-radius: 8px;
        border: none;
        background-color: #eee;
}
label{
        color: orange;

        font-size: 15px;
        padding-bottom: 5px;
        font-family: "Work Sans",sans-serif;
}
.input{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 48%;
}
.textarea{
        display: flex;
        flex-direction: column;
        margin-right: 4%;
        margin-top: 20px;
        
}
.textarea textarea{
        width: 100%;
        height: 200px;
        border: none;
        border-radius: 8px;

        padding: 15px;
        background-color: #eee;

}
.arrow-button {
        display: flex;
        border: none;
        color: #ddd;
        background-color: orange;
        padding-left: 15px;
        border-radius: 8px;
        transition: all .3s ease;
        align-items: center;
        width: 150px;
        height: 50px;
        font-size: 16px;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;

}
.arrow-button > .arrow {
        width: 10px;
        height: 10px;
        border-right: 2px solid #ddd;
        border-bottom: 2px solid #ddd;
        transform: rotate(-45deg);
        margin-left:5px ;
        transition: all .3s ease;
}
.arrow-button > .arrow::before {
        display: block;
        background-color: currentColor;
        width: 3px;
        transform-origin: bottom right;
        height: 2px;
        position: absolute;
        opacity: 0;
        bottom: calc(-2px / 2);
        transform: rotate(45deg);
        transition: all .3s ease;
        content: "";
        right: 0;
}
.arrow-button:hover > .arrow {
        transform: rotate(-45deg) translate(10px, 10px);
        border-color: text-hover-color;
}
.arrow-button:hover > .arrow::before {
        opacity: 1;
        width: 25px;
}
.arrow-button:hover {
        background-color: orange;
        color: #ddd;
}
::placeholder {
        color: #bbb;
        font-size: 14px;
        font-family: "Work Sans",sans-serif;

}
@media screen and (max-width: 678px) {
        .contact{

                padding: 1%;
                padding-top: 100px;
        }
        .textarea textarea{
                width: 96%;
        }
}
 */

 input[type=text],
 select,
 textarea {
         width: 100%;
         /* Full width */
         padding: 12px;
         /* Some padding */
         border: 1px solid #ccc;
         /* Gray border */
         border-radius: 4px;
         /* Rounded borders */
         box-sizing: border-box;
         /* Make sure that padding and width stays in place */
         margin-top: 6px;
         /* Add a top margin */
         margin-bottom: 16px;
         /* Bottom margin */
         resize: vertical
                 /* Allow the user to vertically resize the textarea (not horizontally) */
 }

 /* Style the submit button with a specific background color etc */
 input[type=submit] {
         background-color: orange;
         color: white;
         padding: 12px 20px;
         border: none;
         border-radius: 4px;
         cursor: pointer;
 }

 /* When moving the mouse over the submit button, add a darker green color */
 input[type=submit]:hover {
         background-color: #45a049;
 }

 /* Add a background color and some padding around the form */
 .container {
         border-radius: 5px;
         background-color: #f2f2f2;
         padding: 20px;
 }
label{
        color: #ccc;
}